<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Forskningsavdelningen: Studiecirklar</title>
	<link type=text/css rel=stylesheet href={{ url_for('static', filename='style.css') }}>
	<script type=text/javascript src={{ url_for('static', filename='jquery.js') }}></script>
	<script type=text/javascript src={{ url_for('static', filename='forsk.js') }}></script>
</head>
<body>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<div id=flash class=notshown>
	    <div class=flashwrapper>
		{% for message in messages %}
			<p>{{ message }}</p>
		{% endfor %}
		</div>
	</div>
	<script>$(function() {
	    $('#flash').slideDown('slow').delay(5000).fadeOut('slow');
	})</script>
	{% endif %}
	{% endwith %}
    <div id=content>
	<h1 id="heading">Forskningsavdelningen: Studiecirklar</h1>

	<div id=call-to-action>
		<h2>Vad gör personen i afton?</h2>
		<p>{{today}}</p>
	</div>
	
	<div class="source">
		<ul class="people">
		{% for member in members %}
			<li><span>{{ member['name'] }}</span> 
				{% if member['circle'] %}
					<em>{{ member['circle'] }}</em>
					<a class=unattender data-today="{{today}}" data-circle="{{ member['circle'] }}" data-nick="{{ member['name'] }}" href=#>remove</a>
					
				{% else %}
					{% for circ in circles %}
						<a data-mnemonic="{{ circ['mnemonic'] }}" data-today="{{today}}" data-name="{{ circ['name'] }}" href=#>{{ circ['name'] }}</a>
					{% endfor %}
				{% endif %}
			</li>
		{% endfor %}
		<ul>
	</div>
	
	<div id=addnick class=box >
	    <h3>Ny forskare...</h3>
	    <form action=/join class=notshown>
	        <label for=nick>Nickname:</label>
	        <input id=nick name=nick>
	    </form>
    </div>
	<div id=viewreports class=box>
	    <h3>Läs rapport...</h3>
	    <ul class=notshown>
	    {% for report in reports %}
	    <li>
	        <a href={{ url_for('report_one_month') }}?month={{ report }}>{{ report }}</a>
	    </li>
	    {% endfor %}
	    </ul>
    </div>
    </div><!-- Content -->
    
    
</body>
</html>
