<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Forskningsavdelningen: Studiecirklar</title>
	<link type=text/css rel=stylesheet href={{ url_for('static', filename='style.css') }}>
	<script type=text/javascript src={{ url_for('static', filename='jquery.js') }}></script>
	<script type=text/javascript src={{ url_for('static', filename='forsk.js') }}></script>
</head>
<body id=report>
<h1>Forskningsavdelningen report card</h1>
{% for day in report %}
    <h2>{{ day['date']}}</h2>
    <div>
    {% for circle_for_day in day['circles'] %}
        <h3>{{ circle_for_day['name'] }}</h3>
        <ul>
        {% for person in circle_for_day['attendees'] %}
        	<li>{{ person }}</li>
        {% endfor %}
        </ul>
    {% endfor %}
    </div>
{% endfor %}
</body>
</html>
